# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  group: java
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository


stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: Build
    displayName: 'Build Job'
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '21'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
      displayName: "Use Java 21"
 
    - task: SonarQubePrepare@8
      displayName: "Prepare SonarQube Analysis"
      inputs:
        SonarQube: 'sonar'
        scannerMode: 'Other'
        extraProperties: |
          sonar.projectKey=java_java_a087b77b-f43a-4f5a-927c-72455b1bdd34
          sonar.projectName=java
          sonar.projectVersion=$(Build.BuildId)
          sonar.sources=src/main/java
          sonar.tests=src/test/java
          sonar.java.binaries=target
          sonar.junit.reportPaths=target/surefire-reports
          sonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
    - script: |
          mkdir -p $(MAVEN_CACHE_FOLDER)
      displayName: 'Create Maven cache directory'


    - task: Cache@2
      displayName: 'Cache Maven packages'
      inputs:
        key: 'maven | "$(Agent.OS)" | **/pom.xml'
        restoreKeys: |
          maven | "$(Agent.OS)"
        path: $(MAVEN_CACHE_FOLDER)
        
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        codeCoverageToolOption: 'JaCoCo'
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: true
        isJacocoCoverageReportXML: true
        sqMavenPluginVersionChoice: 'latest' 
      env:
        SONAR_TOKEN: $(SONAR_TOKEN)         

 
