# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository


stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: Build
    displayName: 'Build Job'
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '21'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
      displayName: "Use Java 21"

    - task: SonarQubePrepare@7
      displayName: "Prepare SonarQube Analysis"
      inputs:
        SonarQube: 'sonar'
        scannerMode: 'Other'
        extraProperties: |
          sonar.projectKey=java_java_a087b77b-f43a-4f5a-927c-72455b1bdd34
          sonar.projectName=java
          sonar.projectVersion=$(Build.BuildId)
          sonar.sources=src/main/java
          sonar.tests=src/test/java
          sonar.java.binaries=target
          sonar.junit.reportPaths=target/surefire-reports
          sonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
    - script: |
          mkdir -p $(MAVEN_CACHE_FOLDER)
      displayName: 'Create Maven cache directory'

    - task: Cache@2
      displayName: 'Cache Maven packages'
      inputs:
        key: 'maven | "$(Agent.OS)" | **/pom.xml'
        restoreKeys: |
          maven | "$(Agent.OS)"
        path: $(MAVEN_CACHE_FOLDER)

    - task: Maven@4
      inputs:
        sonarQubeRunAnalysis: true



    - task: SonarQubePublish@7
      displayName: 'Publish SonarQube Results'
      inputs:
        pollingTimeoutSec: '300'

    - task: SonarQubePublish@7
      displayName: 'Check SonarQube Quality Gate'
      inputs:
        pollingTimeoutSec: '300'    # Wait for 5 mins max
      condition: succeeded()

    # Copy and Publish Artifacts
    - task: CopyFiles@2
      displayName: 'Copy JAR to Staging Directory'
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)/target'
        Contents: '*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
